:root {
  --background: #F5F5F5;
  --yellow: #FFD700;
  --text: #3d3d3d;
}

body{
    background-color: var(--background);
    color: var(--text) !important;
}

.sidebar {
    width: 240px;
    height: 100vh;
      background: linear-gradient(to right, #FFD700, #FF8C00);
    position: fixed;
    top: 0;
    left: 0;
    
}

.sidebar a {
    color: var(--text);
    text-decoration: none;
    display: block;
    padding: 12px 20px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.content {
    margin-left: 240px;
    padding: 20px;
}

.logo-chico {
    height: 170px;
    width: auto;
    margin: 1rem 0 0 2rem;
}

.btn-add {
    background-color: #FFA733 ;
    color: white;
    border: none;
}

.btn-add:hover {
    background-color: #d87701 ;
    color: white;
}

.btn-secondary {
    background-color: rgb(145, 145, 145);
    color: white;
    border: none;
}

.table {
    --bs-table-bg: var(--background);
}

.search-btn {
    background-color: #FFA733 !important;
    color: white;
}

.main {
    margin: 3rem;

}

/* @media (max-width: 768px) {
            .sidebar {
                display: none;
            }
            .content {
                margin-left: 0;
            }
            .bottom-menu {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: cornflowerblue;
                display: flex;
                justify-content: space-around;
                padding: 10px 0;
            }
            .bottom-menu a {
                color: white;
                text-decoration: none;
                font-size: 14px;
            }
        } */