{% load static %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Estoque{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'estoque/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'estoque/img/logo-chico.png' %}" type="image/x-icon">
</head>

<body>

    <!-- MENU LATERAL DESKTOP -->
    <div class="sidebar">
        <div href="/"><img class="logo-chico" src="{% static 'estoque/img/logo-chico.png' %}" alt="Logo"></div>
        <div class="items">
            <a href="{% url 'listar_produtos' %}"><i class="fa-solid fa-box-open"></i> <span>Produtos</span></a>
            <a href="{% url 'lista_categorias' %}"><i class="fa-solid fa-rectangle-list"></i> <span>Categorias</span></a>
            <a href="{% url 'lista_fornecedores' %}"><i class="fa-solid fa-truck"></i> <span>Fornecedores</span></a>
        </div>
    </div>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="message message-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- CONTEÚDO -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'estoque/js/app.js' %}"></script>
</body>

</html>