{% extends "estoque/base.html" %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<div class="main">
    <div class="btn-mobile">
        <h2 class="mb-3">Lista de Produtos</h2>
        <div>
            <a href="{% url 'adicionar_produto' %}" class="btn shadow btn-add me-2"><i class="fa-solid fa-plus"></i>
                Produto</a>
            <a href="{% url 'historico_geral' %}" class="btn shadow btn-secondary">Histórico Geral</a>
        </div>
    </div>

    <form method="GET" class="mb-3">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar produto" value="{{ request.GET.q }}">
            <button class="btn search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'listar_produtos' %}" class="btn btn-secondary">Limpar</a>
        </div>
    </form>


    <table class="table" style="background-color: #F5F5F5;">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Qtd</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>R$ {{ produto.preco }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.categoria }}</td>
                <td>
                    <a href="{% url 'detalhes_produto' produto.id %}" class="btn btn-info btn-sm" title="Descrição">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{% url 'editar_produto' produto.id %}" class="btn btn-sm btn-warning" title="Editar"><i
                            class="fa-solid fa-pen"></i></a>
                    <a href="{% url 'registrar_movimentacao' produto.id %}" class="btn btn-sm btn-info"
                        title="Movimentar"><i class="fa-solid fa-basket-shopping"></i></a>

                    <a href="{% url 'excluir_produto' produto.id %}" class="btn btn-sm btn-danger" title="Excluir"><i
                            class="fa-solid fa-trash"></i></a>
                    

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Nenhum produto cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}